.card{
  margin-top: 10px;
  border: none;
  width: 500px;
  padding: 40px;
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: hsla(205, 46%,30%, 1);
  background: linear-gradient(90deg,hsla(205, 46%,30%, 1) 0%, hsla(260, 29%,36%, 1) 100%);
}

.card h1{
  color: #fff;
}
label {
  color: #fff;
}
.ng-valid[required], .ng-valid.required  {
    border-left: 5px solid #42A948; 
  }
  

  .form-group {
    margin-bottom: 1rem;
  }
  
  label {
    display: block;
    margin-bottom: .5rem;
  }
  
  select {
    width: 100%;
    padding: .5rem;
  }
.invalid{
  color: #fff;

}