<div class="container">
  <div class="row">
   <div class="card">
     <h1>Login Form</h1>
    <form [formGroup]="formGroup" (ngSubmit)="onSubmit()" >

      <div class="mb-3">
        <label  class="form-label">Full Name</label>
        <input formControlName="fullname" type="text" class="form-control"   name="fullname" >
        <div *ngIf="f['fullname'].invalid && (f['fullname'].touched || f['fullname'].dirty)" class="invalid">
          <div *ngIf="f['fullname'].errors?.['required']">Fullname is required</div>
          <div *ngIf="f['fullname'].errors?.['minlength']">Minlength is 5 required</div>
          <div *ngIf="f['fullname'].errors?.['maxlength']">MiXlength is 10 required</div>
        </div>
      </div>
      <div class="mb-3">
        <label  class="form-label">Age</label>
        <input formControlName="age" type="Number" class="form-control" >
        <div *ngIf="f['age'].invalid && (f['age'].touched || f['age'].dirty)" class="invalid">
          <div *ngIf="f['age'].errors?.['required'] && f['age'].touched ">Age is required</div>
          <div  *ngIf="f['age'].errors?.['ageLimit'] && f['age'].dirty">
            Age should be b/w than 18-30 years 
          </div>
        </div>
      </div>
      <div class="mb-3">
        <label  class="form-label">Email address</label>
        <input formControlName="email" type="email" class="form-control">
      <div *ngIf="f['email'].invalid && (f['email'].touched || f['email'].dirty)" class="invalid">
        <div *ngIf="f['email'].errors?.['required']">Email required</div>
        <div *ngIf="f['email'].errors?.['email']">Enter a valid Email </div>
      </div></div>

      <div class="mb-3">
        <label  class="form-label">Mobile</label>
        <input formControlName="mobile" type="number" class="form-control" >
        <div *ngIf="f['mobile'].invalid && (f['mobile'].touched || f['mobile'].dirty)" class="invalid">
          <div *ngIf="f['mobile'].errors?.['required']">Mobile required</div>
          <div *ngIf="f['mobile'].errors?.['pattern']">Enter a valid Mobile with 10 numbers </div>
        </div>
      </div>
      <button type="submit" [disabled]="!formGroup.valid" class="btn btn-primary">Submit</button>
    </form>
   </div>
  </div>
</div>